<!DOCTYPE html>
<html>
  <head>
    <title>DesignLove.io</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <nav>
        <%= link_to image_tag("designlove-logo.png"), root_path %>
        <ul class="nav navbar-right">
          <li><%= link_to "About", root_path(anchor: "about") %></li>
          <li><%= link_to "How It Works", root_path(anchor: "how") %></li>
          <li><%= link_to "Featured Projects", root_path(anchor: "featured") %></li>
          <% if user_signed_in? %>
            <li><%= link_to "My Projects", user_path %>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>/
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
